
body { 
	background-image: url("../images/lighthouse.jpg");
	min-width: 100%;
	height: auto;	
	background-size:cover;
	
}


h1 {
    color: black;
    text-align: center;
	font-size:40px;
	padding-top:45px;
}

p {
    color: black;
	text-align:center;
	font-family: verdana;
    font-size: 20px;
	padding-top:35px;
} 
